img(src='/images/foto.jpg')

include map.jade

h3 Hi, I'm Fred Furst.

p I'm pretty sure you're an English speaker, whether a native or not.

p I'm currently working on some projects that require my full attention. Therefore, I'm not taking on any new clients.

p You can email me at 
  a(href='mailto:fred@ffb.eng.br') fred@ffb.eng.br

p Copyrighted by 
  a(href='http://ffb.eng.br') Frederico Furst Bittencourt 
