extends layout

<<<<<<< HEAD
block hello
  p You're coming here through: #{domain}
  h1 #{title}
  p Either report back here a few weeks from now, or email me at 
    a(href='mailto:furetosan@gmail.com') furetosan@gmail.com
  p Tell me about yourself, and why the heck you're interested in me.
  p Cheers!

block content
  h3 Supply Chain: How do I build a summer house in Brazil?
  h2 Abstract
  p Firstly, a web of flows will be assumed as a model to build relationships between materials, capital, human resources, newsmood and other relevant variables.
  p Secondly, those flows will be contrasted against marginally displaced flows. A few such examples would be self-compacting or self-consolidating concrete, polymer-enhanced asphaltic concrete, soil-cement and other alternatives.
  p Thirdly, a few high-end residences are designed from the top down, to adjust to each particular pertinent flow.
  p In short, a handful of luxurious homes is designed with a particular location and comprehensive set of materials in mind. Such work flow can be easily adapted to other location, mayerials, or home design.

block user
  p User-related stuff goes in here.

block copyright
  p 2013 (c) 
    a(href='http://ffb.eng.br') http://ffb.eng.br
=======
block content
  h1= title
  p Welcome to #{title}
>>>>>>> ed0835dbdefb70eb2dc3fb6233be1241914cfcd5
