doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include script.html
  body
    div(id='hello')
      block hello
    div(id='content')
      block content
    div(id='user')
      block user
    div(id='copyright')
      block copyright
