doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header.jade
    nav
      include nav.jade
    block content
    footer
      include footer.jade
