body {
<<<<<<< HEAD
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#hello {
  float:left;
  width: 250px;
}

#content
{
//  float:left;
  font: 14pt Helvetica, Arial, sans-serif;
  color: brown;
}

#user
{
 clear: left;
height: 200px;
width: 400px; 
padding: 20px;
background-color: white; 
}

#copyright
{
  float: right;
}

=======
  font: 16px Arial, sans-serif;
  background: #000000;
  color: #00ff00;
  padding: 50px;
}

body h1 {
  font 48px Helvetica, Arial, sans-serif;
}

body a {
  color: #0000ff;
}

body header {
  background: #222222;
}

body footer {
  font: 12px;
  background: #ffffff;
  color: #222222;
}

form input {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
>>>>>>> ed0835dbdefb70eb2dc3fb6233be1241914cfcd5
