body {
  font: 16px Arial, sans-serif;
  background: #000000;
  color: #00ff00;
  padding: 50px;
}

body h1 {
  font 48px Helvetica, Arial, sans-serif;
}

body a {
  color: #0000ff;
}

body header {
  background: #222222;
}

body footer {
  font: 12px;
  background: #ffffff;
  color: #222222;
}

form input {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
